<!-- adminDashboard.html -->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/png" th:href="@{/assets/images/logo/logo.png}">

    <title>Admin Dashboard</title>

    <link rel="stylesheet" th:href="@{/assets/css/adminDashboard.css}">
    <link rel="stylesheet" th:href="@{/assets/css/style.css}">

    <script th:src="@{/js/util.js}" defer></script>
    <script th:src="@{/js/render.js}" defer></script>
    <script th:src="@{/js/components/header.js}" defer></script>
    <script th:src="@{/js/components/footer.js}" defer></script>
</head>
<body onload="renderContent()">
    <div class="container">
        <div class="wrapper">
            <div id="header"></div>

            <main class="main-content">
                <input type="text" id="searchBar" placeholder="Search doctors..." />
                <div class="filters">
                    <select id="timeFilter">
                        <option value="">-- Select Time --</option>
                        <option value="AM">AM</option>
                        <option value="PM">PM</option>
                    </select>
                    
                    <select id="specialtyFilter">
                        <option value="">Filter by Specialty</option>
                        <option value="Cardiologist">Cardiologist</option>
                        <option value="Dermatologist">Dermatologist</option>
                        <option value="Neurologist">Neurologist</option>
                        <option value="Pediatrician">Pediatrician</option>
                        <option value="Orthopedic">Orthopedic</option>
                        <option value="Gynecologist">Gynecologist</option>
                        <option value="Psychiatrist">Psychiatrist</option>
                        <option value="Dentist">Dentist</option>
                        <option value="Ophthalmologist">Ophthalmologist</option>
                        <option value="Ent">ENT Specialist</option>
                        <option value="Urologist">Urologist</option>
                        <option value="Oncologist">Oncologist</option>
                        <option value="Gastroenterologist">Gastroenterologist</option>
                        <option value="General">General Physician</option>
                    </select>
                </div>

                <div id="content"></div>
            </main>

            <div id="footer"></div>
        </div>
    </div>

    <div id="modal" class="modal hidden">
        <div class="modal-content">
            <button id="closeModal" class="modal-close">&times;</button>
            <div id="modal-body"></div>
        </div>
    </div>

    `<script type="module" src="../../static/js/adminDashboard.js" defer></script>`
    `<script type="module" src="../../static/js/doctorDashboard.js" defer></script>`
    
</body>
</html>
